<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>index</title>
</head>
<body>

<header>
  <h1>takoba/style-guideline-prototype</h1>
</header>

<nav>
  <a href="/blog">blog</a>
</nav>

</body>
</html>
